@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Chivo:400,700|Comfortaa:300,400,500');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  
}

.App {
  font-family: 'Comfortaa', sans-serif;
  display:flex;
}

* .selected {
  color: #e1c766;
}

#logo {
  position:fixed;
  bottom:0;
  right:10px;
  width:40%;
  z-index: 10;
  opacity: .3;
  transition: opacity 600ms, width 600ms;
  animation:enterLogo 1s 30ms backwards;
}

@keyframes enterLogo {
  0% {
    width:0;
  }
  100% {
    width:40%;
  }
}


.fade-enter {
  opacity:0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 600ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 600ms;
}

div.transition-group {
  position: relative;
  width:100vw;
  height:100%;
  min-height:100vh;
  background:#252627;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

@media(max-width:668px) {
  .mobileHeader{
    display:flex
  }

  #logo {
    display:none;
  }
}
