@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Chivo:400,700|Comfortaa:300,400,500');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  
}

.App {
  font-family: 'Comfortaa', sans-serif;
  display:flex;
  background:#252627;
}

