@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Chivo:400,700|Comfortaa:300,400,500');

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  
}

.App {
  font-family: 'Comfortaa', sans-serif;
  display:flex;
}

#logo {
  position:fixed;
  bottom:0;
  right:10px;
  z-index: 10;
  width:40%;
  opacity: .3;
  transition: opacity 300ms, width 300ms;
}


.fade-enter {
    transform: translateX(360);
}

.fade-enter.fade-enter-active {
     transform: translateX(0);
    transition: transform 300ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

@media(max-width:668px) {
  .mobileHeader{
    display:flex
  }

  #logo {
    display:none;
  }
}
